@mixin centrar {
    display: flex;
    justify-content: center;
    align-items: center;
}

.cobertura {
    list-style: none;
    
    li {
    font-size: 0.8rem;
    font-family: $fuente-primaria;
    margin-top: 5%;
    color: $color-primario; 
    
    @include centrar;

    }
    li:before {
        content: url(/iconos/chevron-double-right.svg);
    }
    li:hover {
        transform: scale(1.1);
        color:darkgoldenrod;
    }
    
}
.cobertura-p {
    text-align: center;
    font-size: 0.7rem;
    font-weight: 600;
    margin-top: 5%;
}