.cobertura {
    font-size: 1.1rem;
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: 1fr;
    row-gap: 20px;
    grid-template-areas:
        "columna-1 columna-2";

    .cobertura__1 {
        grid-area: "columna-1";
        margin-top: 5%;
    }

    .cobertura__2 {
        grid-area: "columna-2";
        margin-top: 5%;
    }

    li {
        list-style: none;
    }

    li:before {
        content: url(/iconos/chevron-double-right.svg);
    }

    li:hover {
        transform: scale(1.1);
        color: darkgoldenrod;
    }
}

.p-cobertura {
    font-size: 1.2rem;
    font-weight: 600;
    text-align: center;
    margin-top: 5%;
}