@mixin centrar {
    display: flex;
    justify-content: center;
    align-items: center;
}

.lista {
    list-style: none;

    li {
    font-size: 1.2rem;
    font-family: $fuente-primaria;
    margin-top: 5%;
    color: $color-primario; 
    @include centrar;

    }
    
}