.info {
    list-style: none;
    font-family: 'Source Sans Pro', sans-serif;
    line-height: 45px;
    font-style: italic;
    color: darkslategrey;
}

.info2 {
    list-style: none;
    font-family: 'Source Sans Pro', sans-serif;
    line-height: 45px;
    border: solid 1px;
    border-radius: 5px;
    background-color: rgba(240, 230, 140, 0.5);
    color: darkslategrey;
}

.info3 {
    font-weight: bold;
}
