.parrafo-info {
    list-style: none;
    font-family: $fuente-primaria;
    line-height: 45px;
    font-style: italic;
    color: $color-secundario;
}

.lista-info {
    list-style: none;
    font-family: $fuente-primaria;
    line-height: 45px;
    border: solid 1px;
    border-radius: 5px;
    background-color: rgba(240, 230, 140, 0.5);
    color: $color-secundario;
}


