
.estudios {
    margin-top: 5%;

    .estudios__h2 {
        font-family: $fuente-primaria;  
        font-size: 1.2rem;
        font-weight: 600;
        text-align: center;
    }
    .estudios__ul {
        list-style: none;
    }
        li {
            font-family: $fuente-primaria;
            font-size: 1.1rem;
        }
}

