.exito {
    background-color: 	rgba(220, 220, 220, 0.5);
}
.exito__p {
    font-family: $fuente-terciaria;
    font-size: 1.3rem;
    color: $color-primario;
    font-weight: 600;
    margin-top: 2%;
}
