.preparaciones {
    font-family: $fuente-primaria;
   
    .preparaciones__p {
        font-weight: 600;
        font-size: 1.2rem;
        margin-top: 20px;
    }

    .preparaciones__li {
        text-decoration: none;
        font-size: 1.1rem;
    }
    .preparaciones__li::before {
        content: url(/iconos/arrow-right-short.svg);
    }
}