.staff {
    margin-top: 5%;

    .staff__name {
        font-family: 'Montserrat', sans-serif;
        font-weight: 600;
        font-size: 1.3rem;
        color: $color-primario;
    }

    .staff__p {
        font-family: 'Bebas Neue', cursiva;
        font-style: italic;
        color: $color-secundario;
        margin-bottom: 5%;
        font-size: 1rem;
    }

    .staff__titulo {
        margin-bottom: 8%;
        font-family: $fuente-secundaria;
        background-color: rgba(132, 122, 122, 0.2);
        font-weight: 600;
        color: $color-primario;
        font-size: 1.5rem;
        box-shadow: 5px 5px 3px grey;
    }

    .staff__medico {
        margin-top: 10%;
    }
    
    .staff__foto {
        width: auto;
        height: 30vh;
    }


}

