footer {
    background-color: rgba(229, 231, 233, 0.8);

    .footer__eslogan {
        margin-top: 20%;
        font-family: $fuente-secundaria;
        font-size: 0.8rem;
        font-weight: 600;
        color: $color-primario;
        padding: 25px;
        letter-spacing: 7px;
        text-align: center;
       
    }

    .footer__desarrollo {
        font-family: $fuente-primaria;
        font-size: 0.7rem;
        font-weight: 400;
        color: $color-primario;
        background-color: rgba(47, 79, 79, 0.5);
        padding: 10px;
        letter-spacing: 4px;

    }
    
    .logoempresa {
        position: relative;
        width: 15%;
        height: 55%;
    }
}