.form {
    background-color: $color-terciario;
    margin-top: 3%;
    margin-bottom: 3%;
    border: solid 2px $color-terciario;
    border-radius: 5px;
}

.form-p {
    font-size: 1.2rem;
    margin-top: 5%;
}