
.header {
    padding: 20px;
    background-color: rgba(240, 230, 140, 0.5) !important;
    .navbar {
        font-family: $fuente-primaria;
        letter-spacing: 0.3px;
    }
    a:hover {
        transform: scale(1.1);
    }
    .navbar-brand {
        width: 10%;
    }
    .nav-item {
        font-size: 1.3rem;
        font-weight: 400;
    }
    .nav-link {
        color: $color-primario;
    }
}