
body {
    background-repeat: no-repeat;
    background-size: cover;
}

header {
    margin-bottom: 5%;
}

.logo {
    width: 100%;
    height: 100%;
}

/*-------------------iconos de index/contacto-------------------------*/

%iconos {
    padding: 10px;
    color: grey;
}

.mail {
  @extend %iconos; 
}
.wapp {
    @extend %iconos;
}
.phone {
    @extend %iconos;
}
.location {
    @extend %iconos;
}
.calendar {
    @extend %iconos;
}

/*-------------------titulos de secciones de informacion index/contacto----------------------*/

.info__titulo {
    font-weight: bold;
    margin-top: 5%;
    
}
