body {
    background-image: url(../imagenes/foto14.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

header {
    margin-bottom: 5%;
}


.navbar-brand {
    width: 10%;
}
.logo {
    width: 80%;
    height: 80%;
}
%iconos {
    padding: 10px;
    color: grey;
}

.mail {
  @extend %iconos; 
}
.wapp {
    @extend %iconos;
}
.phone {
    @extend %iconos;
}
.location {
    @extend %iconos;
}
.calendar {
    @extend %iconos;
}