body {
    background-image: url(../imagenes/foto14.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

header {
    margin-bottom: 5%;
}

.logo {
    width: 100%;
    height: 100%;
}
.navbar-brand {
    width: 10%;
}