/*---------------------------navbar----------------------------------*/

@media (min-width: 320px) and (max-width: 768px) {
    .header .navbar {
        font-size: 1rem; /*no se aplica*/
        font-weight: 300;
    }
}

/*----index----*/
@media (max-width:320px) {
    .mapa {
        width: 100%;
    }
}

@media (max-width: 768px) {
    .navbar-brand {
        width: 20%;
    }

    h1 {
        font-size: 1.3rem;
    }

    /*----index----*/

    .portada {
        background-size: cover;
        width: 100%;
        height: 50vh;
    }

    .portada__h1 {
        font-size: 1.3rem;    /*no se aplica*/
    }

    .portada__p {
        font-size: 1.1rem;  /*no se aplica*/
    }

    .institucional__titulo {
        font-size: 1.2rem;
    }

    .institucional__parrafo {
        font-size: 1rem;
    }

    .info__titulo {
        font-size: 1.2rem;
    }

    /*----staff----*/
    .staff__titulo {
        font-size: 1.1rem;     /*no se aplica*/
    }
    .staff__h2 {              /*no se aplica*/
        font-size: 1.1rem;
    }
    .staff__name {
        font-size: 1.1rem;    /*no se aplica*/
    }
    .staff__p {
        font-size: 1rem;      /*no se aplica*/
    }
    /*----contacto----*/
    .form-p {
        font-size: 1rem;
        text-align: center;
    }
    /*----whatsapp----*/
    .boton {
        position: fixed;
        width: 50px;
        height: 50px;
        bottom: 15px;
        right: 15px;
        font-size: 23px;
    }
    /*----footer----*/
    .footer__eslogan {
        font-size: 1rem; /*no se aplica*/
    } 
}
/*-----cobertura (aca se aplicó grid)-----*/

@media (min-width: 768px) and (max-width: 1400px) {
    .cobertura {
        font-size: 1.3rem; /*no se aplica*/
        display: grid;
        grid-template-columns: 50% 50%;
        grid-template-rows: 1fr;
        row-gap: 20px;
        grid-template-areas:
            "columna-1 columna-2"
    }

    .cobertura-1 {
        grid-area: "columna-1";
    }

    .cobertura-2 {
        grid-area: "columna-2";
    }
}