$color-primario: darkslategrey;
$color-secundario: black;
$color-terciario: beige;

$fuente-primaria: 'Source Sans Pro', sans-serif;
$fuente-secundaria: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
$fuente-terciaria: 'Nuosu SIL', serif;
